*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #cccccc;
}

/** HEADER NAV **/
#header-nav {
	border: 0;
}

#nav-list a{
	text-align: center;
}

#text-content{
	background-color: white;
}

#main-content{
	background-color: #555555;
}

/** 
h1{
	text-align: center;
	font-size: 3.5em;
}
p{
	background-color: transparent;
}
**/

@media (min-width: 992px){
	#main-content {

	}


}
@media (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 767px){

}